# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies (node_modules - all levels)
node_modules/
**/node_modules/

# Secrets & Environment Variables
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local
client/.env
server/.env

# Builds
dist/
build/
client/dist/

# OS Files
.DS_Store
*.pem
Thumbs.db
